In [3]:
import openpyxl as xl
import pandas as pd

file_path = '/Users/meredithsmith/Desktop/TØPAnalysis/11GoodTØPTours.xlsx'
df= pd.read_excel(file_path)

In [4]:
df.head()

,Members,Associated Albums,Date,Tour,Unnamed: 4,City,State,Country,Continent,Venue,Suffix,Legs,Lineup,Signed Under,Unnamed: 14
0,"Tyler Joseph, Nick Thomas, Chris Salih",NaN,2009-07-08 00:00:00,NaN,NaN,Columbus,OH,USA,North America,Expresso Yourself Music Café,NaN,1.0,NaN,NaN,NaN
1,"Tyler Joseph, Nick Thomas, Chris Salih",NaN,2009-10-11 00:00:00,NaN,NaN,Columbus,OH,USA,North America,Battle of the Bands at the Alrosa Villa,NaN,1.0,NaN,NaN,NaN
2,"Tyler Joseph, Nick Thomas, Chris Salih",NaN,2009-12-29 00:00:00,NaN,NaN,Columbus,OH,USA,North America,The Basement,NaN,1.0,NaN,NaN,NaN
3,"Tyler Joseph, Nick Thomas, Chris Salih",Twenty Øne Pilots (Self-Titled),2010-01-16 00:00:00,NaN,NaN,Columbus,OH,USA,North America,Newport Music Hall,NaN,1.0,NaN,NaN,NaN
4,"Tyler Joseph, Nick Thomas, Chris Salih",Twenty Øne Pilots (Self-Titled),2010-02-19 00:00:00,NaN,NaN,Columbus,OH,USA,North America,Newport Music Hall,NaN,1.0,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066 entries, 0 to 1065
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Members            1059 non-null   object
 1   Associated Albums  1053 non-null   object
 2   Date               1066 non-null   object
 3   Tour               762 non-null    object
 4   Unnamed: 4         0 non-null      float64
 5   City               1038 non-null   object
 6   State              747 non-null    object
 7   Country            1043 non-null   object
 8   Continent          1044 non-null   object
 9   Venue              1057 non-null   object
 10  Suffix             85 non-null     object
 11  Legs               1042 non-null   float64
 12  Lineup             36 non-null     object
 13  Signed Under       43 non-null     object
 14  Unnamed: 14        16 non-null     object
dtypes: float64(2), object(13)
memory usage: 125.1+ KB

In [7]:
cat_col = [col for col in df.columns if df[col].dtype == 'object']
num_col = [col for col in df.columns if df[col].dtype != 'object']

print('Categorical columns:', cat_col)
print('Numerical columns:', num_col)

Categorical columns: ['Members', 'Associated Albums', 'Date', 'Tour', 'City ', 'State', 'Country', 'Continent', 'Venue', 'Suffix', 'Lineup', 'Signed Under', 'Unnamed: 14']
Numerical columns: ['Unnamed: 4', 'Legs']

In [8]:
df[cat_col].nunique()

Members                 2
Associated Albums       8
Date                 1025
Tour                   97
City                  448
State                  55
Country                67
Continent               9
Venue                 855
Suffix                  8
Lineup                 22
Signed Under            2
Unnamed: 14            15
dtype: int64

In [9]:
round((df.isnull().sum() / df.shape[0]) * 100, 2)

Members                0.66
Associated Albums      1.22
Date                   0.00
Tour                  28.52
Unnamed: 4           100.00
City                   2.63
State                 29.92
Country                2.16
Continent              2.06
Venue                  0.84
Suffix                92.03
Legs                   2.25
Lineup                96.62
Signed Under          95.97
Unnamed: 14           98.50
dtype: float64

In [10]:
df1 = df.drop(columns=['Unnamed: 4', 'Suffix', 'Lineup', 'Signed Under', 'Unnamed: 14'])

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))

num_col_ = [col for col in X.columns if X[col].dtype != 'object']
x1 = X
x1[num_col_] = scaler.fit_transform(x1[num_col_])
x1.head()

NameError: name 'X' is not defined